*{
    padding: 0;
    margin:0;
    box-sizing: border-box;
}

.sidebar__container{
    width: 250px;
    height: 100vh;
}
.mtContact{
    margin-top: 80px;
}

.create__btn{
    height: 50px;
    width: 200px;
    border-radius: 50px;
    box-shadow: 2px 2px 5px grey;
}

.upload__photo{
    height: 150px;
    width: 150px;
    border-radius: 50%;
    cursor: pointer;
}
.upload__photo__container{
    height: 150px;
    width: 150px;
    border-radius: 50%;
    transition: all 150ms ease-in;
}
.upload__photo__container:hover{
    box-shadow: 0 1px 5px #a0aec0;
}

.sidebar__menu{
    transition: all 150ms ease-in;
    border-radius: 50px;
}
.sidebar__menu:hover{
    box-shadow: 0 2px 5px #718096;
}




